.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 7, 7);
    margin-top: 25px;
    color: rgb(189, 189, 189);
    font-family: "Poppins", serif;
    font-weight: 300;

    .footer-header-container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header-wrapper {
            font-weight: 900;
            font-size: 30px;

            .header-prefix {
                color: brown;
            }

            .header-postfix {
                color: wheat;
                background-color: transparent;
            }
        }

        .paragraph {
            text-align: center;
            margin: 10px 0px 10px 0px;
        }

        .social-media-container {
            margin: 25px 0px 15px 0px;
        }

        .social-media-container {
            display: flex;
            column-gap: 20px;

            .fa {
                font-size: 30px;
                cursor: pointer;
            }
        }
    }

    .shop-info-container {
        display: grid;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 30px;

        .item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            row-gap: 8px;

            .header {
                font-weight: 500;
                color:white;
            }
        }

        .item:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
        }

        .item:nth-child(2) {
            grid-area: 1 / 2 / 2 / 3;
        }

        .item:nth-child(3) {
            grid-area: 2 / 1 / 4 / 2;
        }

        .item:nth-child(4) {
            grid-area: 2 / 2 / 3 / 3;
        }

        .item:nth-child(5) {
            grid-area: 3 / 2 / 4 / 3;
        }
    }

    .rights-note {
        padding: 40px 0px 30px 0px;
        font-weight: 500;
        color:white;
    }

}

@media (min-width: 768px) {

    .footer-container {
        display: grid;
        column-gap: 8vw;

        .footer-header-container {
            align-self: flex-start;
            justify-self: start;
            grid-area: 1 / 1 / 3 / 2;
        }

        .shop-info-container {
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: auto auto;
            grid-area: 1 / 2 / 2 / 3;
            column-gap: 2vw;

            .item {

                &:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                &:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                }

                &:nth-child(3) {
                    grid-area: 1 / 3 / 2 / 4;
                }

                &:nth-child(4) {
                    grid-area: 1 / 4 / 2 / 5;
                }

                &:nth-child(5) {
                    grid-area: 1 / 5 / 2 / 6;
                }
            }
        }

        .rights-note {
            grid-area: 2 / 1 / 3 / 3;
            text-align: center;
        }
    }
}