@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main-page-style {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;

    .header-container {

        .head-menu-container {
            z-index: 2;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: 40px;
            box-sizing: border-box;
            padding: 0px 20px 0px 20px;

            .head-menu-line-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .header-wrapper {
                    display: flex;
                    align-items: center;
                    font-family: "Poppins", serif;
                    font-weight: 900;
                    font-size: 30px;
                    position: relative;
                    transform: translateX(20px);

                    .header-prefix {
                        color: white;
                    }

                    .header-postfix {
                        margin-left: 1px;
                        position: relative;
                        z-index: 2;
                        color: black;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        height: 27px;
                    }
                }

                .right-menu-container {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    width: 60px;
                    height: 20px;

                    .shopping-cart-container {
                        position: relative;
                        width: 20px;
                        height: 20px;

                        .shopping-cart-icon-1,
                        .shopping-cart-icon-2 {
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: opacity 0.3s ease-in-out;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }

                        .shopping-cart-icon-1 {
                            opacity: 1;
                        }

                        .shopping-cart-icon-2 {
                            opacity: 0;
                        }

                        &:hover .shopping-cart-icon-1 {
                            opacity: 0;
                        }

                        &:hover .shopping-cart-icon-2 {
                            opacity: 1;
                        }
                    }

                    .wine-container {
                        position: relative;
                        width: 20px;
                        height: 20px;

                        .wine-icon-1,
                        .wine-icon-2 {
                            position: absolute;
                            left: 0;
                            top: 0;
                            transition: opacity 0.3s ease-in-out;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                        }

                        .wine-icon-1 {
                            opacity: 1;
                        }

                        .wine-icon-2 {
                            opacity: 0;
                        }

                        &:hover .wine-icon-1 {
                            opacity: 0;
                        }

                        &:hover .wine-icon-2 {
                            opacity: 1;
                        }
                    }
                }

                .option-container {
                    position: relative;
                    width: 20px;
                    height: 20px;

                    .menu-points-icon-1,
                    .menu-points-icon-2 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        transition: opacity 0.3s ease-in-out;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                    }

                    .menu-points-icon-1 {
                        opacity: 1;
                    }

                    .menu-points-icon-2 {
                        opacity: 0;
                    }

                    &:hover .menu-points-icon-1 {
                        opacity: 0;
                    }

                    &:hover .menu-points-icon-2 {
                        opacity: 1;
                    }
                }
            }

            .head-menu-line-container-desktop {
                display: none;
            }
        }

        .head-menu-items-container {
            margin-top: 50px;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            align-self: center;
            font-family: "Poppins", serif;
            font-weight: 500;
            font-size: 30px;

            .item {
                text-decoration: none;
                color: inherit;
                display: block;
                line-height: 2.0;
                cursor: pointer;
            }

            .item:nth-child(1) {
                color: rgb(197, 8, 8);
            }
        }
    }
}

@media (min-width: 768px) {
    .main-page-style {

        .header-container {

            .head-menu-container {
                flex-direction: row;
                justify-content: space-between;
                align-items: start;
                height: 70px;
                transition: height 0.5s ease, background-color 0.3s ease;

                .head-menu-line-container {
                    display: none;
                }

                .head-menu-line-container-desktop {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    padding: 0 20px;
                    box-sizing: border-box;
                    transform: translateY(13px);

                    .header-wrapper {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: "Poppins", serif;
                        font-weight: 900;
                        font-size: 30px;
                        position: relative;
                        width: 35%;

                        .header-prefix {
                            color: white;
                            transition: color 0.3s ease;
                        }

                        .header-postfix {
                            margin-left: 1px;
                            position: relative;
                            z-index: 2;
                            color: black;
                            background-color: white;
                            display: flex;
                            align-items: center;
                            height: 27px;
                            transition: color 0.5s ease, background-color 0.5s ease;
                        }
                    }

                    .head-menu-items-container {
                        flex: 1;
                        margin-top: 0px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        align-self: center;
                        font-family: "Poppins", serif;
                        font-weight: 500;
                        font-size: 30px;
                        width: 100%;
                        gap: 50px;

                        .item {
                            text-decoration: none;
                            color: inherit;
                            display: block;
                            line-height: 2.0;
                            cursor: pointer;
                            font-size: 15px;
                            transition: color 0.5s ease;
                        }

                        .item:nth-child(1) {
                            color: rgb(197, 8, 8);
                            transition: color 0.3s ease;
                        }
                    }

                    .right-menu-container {
                        flex: 1;
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 40px;
                        width: 60px;
                        height: 20px;

                        .shopping-cart-container {
                            position: relative;
                            width: 30px;
                            height: 30px;

                            .shopping-cart-icon-1,
                            .shopping-cart-icon-2 {
                                position: absolute;
                                left: 0;
                                top: 0;
                                transition: opacity 0.3s ease-in-out;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                            }

                            .shopping-cart-icon-1 {
                                opacity: 1;
                            }

                            .shopping-cart-icon-2 {
                                opacity: 0;
                            }

                            &:hover .shopping-cart-icon-1 {
                                opacity: 0;
                            }

                            &:hover .shopping-cart-icon-2 {
                                opacity: 1;
                            }
                        }

                        .wine-container {
                            position: relative;
                            width: 30px;
                            height: 30px;

                            .wine-icon-1,
                            .wine-icon-2 {
                                position: absolute;
                                left: 0;
                                top: 0;
                                transition: opacity 0.3s ease-in-out;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                            }

                            .wine-icon-1 {
                                opacity: 1;
                            }

                            .wine-icon-2 {
                                opacity: 0;
                            }

                            &:hover .wine-icon-1 {
                                opacity: 0;
                            }

                            &:hover .wine-icon-2 {
                                opacity: 1;
                            }
                        }
                    }
                }

                .head-menu-line-container {
                    display: none;
                }
            }

            .head-menu-items-container {
                display: none;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1400px) {
    .main-page-style {
        .header-container {
            .head-menu-container {
                .head-menu-line-container-desktop {
                    transform: translateY(4px);
                }
            }
        }
    }
}