.search-container {
    margin: 25px 0px 25px 0px;
    color: brown;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 60px;
    border-radius: 120px;
    margin: 0 auto;
}

.search-icon,
.go-icon {
    position: absolute;
    top: 0;
    height: 60px;
    width: 86px;
    line-height: 61px;
    text-align: center;
}

.search-icon {
    left: 0;
    pointer-events: none;
    font-size: 1.22em;
    transform: rotate(0deg);
    transform-origin: center center;
    transform: translate(-5px, 10px);
    transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.si-rotate {
    transform: rotate(90deg);
}

.go-icon {
    right: 0;
    pointer-events: none;
    font-size: 1.38em;
    cursor: default;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.go-in {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transform: rotate(0);
    transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.search-border {
    display: block;
    width: 100%;
    max-width: 650px;
    height: 70px;
    overflow: visible;
}

.border {
    fill: none;
    stroke: brown;
    stroke-width: 5;
    stroke-miterlimit: 10;
}

.border {
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
}

.border-searching .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
}

.search {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 120px;
    border: none;
    background: rgba(255, 255, 255, 0);
    padding: 0 68px 0 68px;
    color: brown;
    font-size: 30px;
    transform: translateY(7px);
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
}

.search::selection {
    color: rgb(194, 76, 92);
    background: rgba(37, 34, 35, 0.25);
}

.search::placeholder {
    font-size: 30px;
}

.body-main-class {
    height: 1000px;
    width: 100vh;
}

.header {
    height: 100px;
    width: 100px;
}

.selected-zone {
    color: gray;
    transform: translateY(25px);
}

.fa-arrow-right {
    transform: translateY(5px);
}

.fa-search {
    transform: translateY(17px);
}