@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.header-container {
    font-family: "Poppins", serif;

    .your-bag-container {
        z-index: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: white;
        top: 0%;
        width: 100%;

        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease;

        .close-sign {
            color: rgb(80, 80, 80);
            font-weight: 900;
            font-size: 25px;
            margin: 15px 0px 30px 0px;
            cursor: pointer;
        }

        .small-box-header {
            color: gray;
            font-weight: 500;
        }

        .your-bag-header {
            font-family: "Roboto", serif;
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 40px;
        }

        .bag-item-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 30px;
            width: calc(100% - 26px);

            .item-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                column-gap: 25px;

                .photo-container {
                    width: clamp(270px, 30vw, 500px);
                    aspect-ratio: 270 / 150;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;

                    .photo {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        overflow: hidden;
                        border-radius: 15px;
                    }

                    .photo-note-container {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;

                        .item-name{
                            margin-left: 20px;
                            font-weight: 600;
                        }

                        .item-price {
                            margin-right: 10px;
                            font-weight: 600;
                        }
                    }
                }

                .items-amount-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    row-gap: 20px;
                    width: 200px;

                    .items-amount {
                        font-family: "Roboto", serif;
                        width: 80px;
                        height: 50px;
                        background-color: brown;
                        border-radius: 25px;
                        color: antiquewhite;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 25px;
                        font-weight: 900;

                        &::after {
                            content: "+";
                            color: gray;
                            transform: translateX(45px);
                            cursor: pointer;
                        }

                        &::before {
                            content: "-";
                            color: gray;
                            transform: translateX(-45px);
                            cursor: pointer;
                        }
                    }

                    .remove-item {
                        position: relative;
                        height: 50px;
                        width: 50px;
                        background-color: gray;
                        border-radius: 50%;
                        color: antiquewhite;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 25px;
                        font-weight: 900;
                        cursor: pointer;

                        &::after {
                            content: "Remove";
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            transform: translate(-50%, 5px);
                            color: gray;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .total-price-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px 0px 40px 0px;

            .total-price {
                font-size: 40px;
                font-weight: 600;
            }
        }

        .checkout-button {
            all: unset;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: calc(100% - 26px);
            background-color: brown;
            font-family: "Poppins", serif;
            font-weight: 700;
            font-size: 30px;
            color: white;
            text-align: center;
            cursor: pointer;
            box-shadow: 0px 5px 0px darkred;
            transition: all 0.2s ease-in-out;
            margin-bottom: 60px;

            &:active {
                transform: translateY(5px);
                box-shadow: 0px 2px 0px darkred;
            }
        }
    }
}

@media (min-width: 768px) {

    .your-bag-container {
        right: 0%;
        width: 439px !important;
    }

}